{% block drugs-table %}
<div class="col-md-5 col-sm-12">
    <table class="table table-striped" id="drugs-table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Medicament</th>
                <th scope="col">Boite</th>
                <th scope="col">Dosage</th>
            </tr>
        </thead>
        <tbody>
            {% for drug in drugs %}
            <tr>
                <th scope="row">{{drug.id}}</th>
                <td><a href="#" class="drug-link" data-drug-id="{{drug.id}}">
                        {{drug.name}}</a></td>
                <td>{{drug.size}}</td>
                <td>{{drug.dosage}} {{drug.dosage_unit}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $('#drugs-table').DataTable({paging: false});
</script>
{% endblock %}