{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<!-- Scripts -->
<script>
    function compareDates(d1, d2, sp = '-', direction = 0) {
        if (direction == 0) {
            var fd1 = d1.replace(`${sp}`, '').replace(`${sp}`, '');
            var fd2 = d2.replace(`${sp}`, '').replace(`${sp}`, '');
        } else if (direction == 1) {
            // flip first then do same
            console.log("THIS compareDate() DIRECTION ISN'T SUPPOERTED YET");
        }
        if (fd1 > fd2)
            return true;
        else
            return false;
    }

    $(document).ready(function () {
        // fill cards
        $("#clients-card").text("{{ clients }}");
        $("#sales-card").text("{{ sales }}");
        $("#articles-card").text("{{ articles }}");
        $("#exp-card").text("{{ close_exps }}");

        $('#warning-date-input').datepicker({
            format: 'dd/mm/yyyy',
            language: 'fr'
        });

        // ajax request the meds
        $.ajax({
            url: "{% url 'get-drugs-list' %}",
            dataType: 'json',
            type: 'GET',
            data: {
                args: 'none'
            },
            success: function (data) {
                for (var i = 0; i < data.drugs.length; i++) {
                    // add data to the table here
                    $("#prods-table tbody").append(`
                        <tr>
                            <td class="name-cell">${data.drugs[i].name}</td>
                            <td>
                                <a class="details-button" style="cursor: pointer;">
                                    <svg class="bi bi-list" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                                    </svg>
                                </a>
                            </td>
                            <td class="dosage-cell">${data.drugs[i].dosage}</td>
                            <td class="size-cell">${data.drugs[i].size}</td>
                            <td class="qtt-cell">${data.drugs[i].qtt}</td>
                        </tr>
                    `);
                }

                // Gotta be here to do the job when ready 
                $('.details-button').click(function () {

                    try {
                        var sName = $(this).parent().siblings('.name-cell').text();
                        var sDosage = $(this).parent().siblings('.dosage-cell').text();
                        var sSize = $(this).parent().siblings('.size-cell').text();

                        $.ajax({
                            url: "{% url 'get-drug-details' %}",
                            dataType: 'json',
                            data: {
                                name: sName,
                                dosage: sDosage,
                                size: sSize
                            },
                            success: function (data) {
                                $("#details-modal").modal('show');
                                $("#details-modal-title").text(`${sName} ${sDosage} | Boite de ${sSize}`);
                                $("#details-table tbody").html('');
                                for (var i = 0; i < data.lots.length; i++) {
                                    let today = (new Date()).getFullYear() + '-'
                                        + ('0' + (new Date()).getMonth()).slice(-2) + '-'
                                        + ('0' + (new Date()).getDate()).slice(-2)
                                    let rowClass = '';
                                    if (data.lots[i].qte == 0) {
                                        rowClass = "table-secondary";
                                    }
                                    else if (!!compareDates(data.lots[i].exp_date, today)) {
                                        rowClass = "table-danger";
                                    }

                                    $("#details-table tbody").append(`
                                        <tr class="${rowClass}">
                                            <td>${data.lots[i].number}</td>
                                            <td>${data.lots[i].exp_date}</td>
                                            <td>${data.lots[i].qte}</td>
                                            <td>${data.lots[i].tva}</td>
                                            <td>${data.lots[i].ht}</td>
                                            <td>${data.lots[i].ppa}</td>
                                            <td>${data.lots[i].shp}</td>
                                            <td>${data.lots[i].marge}</td>
                                            <td>${data.lots[i].entry}</td>
                                        </tr>
                                    `);
                                }
                            },
                            failure: function (data) {
                                console.log("Oh shit Morty!, Json fucked up.");
                            }
                        });
                    }
                    catch (err) {
                        $("#none-selected-modal").modal('show');
                    }
                });
            },
            failure: function (data) {
                console.log("Failure to receive JSON");
            }
        });
    });
</script>

<!-- Layout -->
<div style="background-color: rgb(215, 223, 230);">
    <h3 class="mx-5 px-2">Inventaire</h3>
    <div class="row mx-5">

        <div class="col-md-3">
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <div class="float-left">
                        <h2 class="card-title" id="clients-card">124</h2>
                        <p class="card-text">Clients enregistrés</p>
                    </div>
                    <div class="float-right">
                        <svg class="bi bi-person-check-fill" width="3em" height="3em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <div class="float-left">
                        <h2 class="card-title" id="articles-card">2,544</h2>
                        <p class="card-text">Articles en stock</p>
                    </div>
                    <div class="float-right">
                        <svg class="bi bi-collection-fill" width="3em" height="3em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="10" rx="1.5" transform="matrix(1 0 0 -1 0 14.5)" />
                            <path fill-rule="evenodd"
                                d="M2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <div class="float-left">
                        <h2 class="card-title" id="sales-card">1,214</h2>
                        <p class="card-text">Ordonnances enregistrées</p>
                    </div>
                    <div class="float-right">
                        <svg class="bi bi-trophy" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1H3zm2-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H5z" />
                            <path fill-rule="evenodd"
                                d="M12.5 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-6-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0z" />
                            <path d="M7 10h2v4H7v-4z" />
                            <path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <a class="card text-white bg-danger mb-3" style="cursor: pointer;" href="{% url 'close_expiries' %}">
                <div class="card-body">
                    <div class="float-left">
                        <h2 class="card-title" id="exp-card">2</h2>
                        <p class="card-text">Expiration proche</p>
                    </div>
                    <div class="float-right">
                        <svg class="bi bi-dash-circle-fill" width="3em" height="3em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z" />
                        </svg>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="mt-3 mx-2">
    <table class="table table-striped" id="prods-table">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col"></th>
                <th scope="col">Dosage</th>
                <th scope="col">Boite de</th>
                <th scope="col">Qte</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<!------------------------------------------- MODALS -------------------------------------------->

<!-- Details Modal -->
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="details-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="details-modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <table class="table table-bordered" id="details-table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Lot</th>
                                <th scope="col">Date péremp.</th>
                                <th scope="col">Qte</th>
                                <th scope="col">TVA</th>
                                <th scope="col">HT</th>
                                <th scope="col">PPA</th>
                                <th scope="col">SHP</th>
                                <th scope="col">Marge</th>
                                <th scope="col">Entrée</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}