{% extends 'main/base.html' %}
{% block content %}
<h3>Historique des sorties</h3>
<div class="container">
    <table class="table table-striped" id="sales-table">
        <thead>
            <th style="width: 5%;"></th>
            <th style="width: 25%;">Num. Sortie</th>
            <th style="width: 35%;">Client</th>
            <th style="width: 35%;">Date</th>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>
                    <a data-toggle="collapse" href="#details-{{sale.number}}" aria-expanded="false"
                        aria-controls="details-{{sale.number}}">
                        <svg class="bi bi-plus-circle-fill" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z" />
                        </svg>
                    </a>
                </td>
                <td>{{sale.number}}</td>
                <td>{{sale.client}}</td>
                <td>{{sale.date}}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <div class="collapse" id="details-{{sale.number}}">
                        <div class="card card-body">
                            {{sale.prods}}
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            var raw = $("#details-{{sale.number}}").text();
                            var lines = raw.split('|');
                            $("#details-{{sale.number}}").text('');
                            $("#details-{{sale.number}}").append(`
                                <table class="table table-dark">
                                    <thead>
                                        <th>Produit</th>    
                                        <th>Dosage</th>    
                                        <th>Qtt</th>    
                                        <th>Lot</th>    
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            `);
                            for (var i = 0; i < lines.length-1; i++) {
                                let name = lines[i].split('_')[0];
                                let dosage = lines[i].split('_')[1];
                                let qtt = lines[i].split('_')[2];
                                let lot = lines[i].split('_')[3];
                                $("#details-{{sale.number}} tbody").append(`
                                    <tr>
                                        <td>${name}</td>
                                        <td>${dosage}</td>
                                        <td>${qtt}</td>
                                        <td>${lot}</td>
                                    </tr>
                                `);
                            }
                        });
                    </script>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}